@using TaskFlow.Interfaces
@model IList<TaskFlow.Interfaces.IWorkItem>   // represents the todos item list


<div class="col-md-4 col-sm-12 border" style="min-height: 100vh;" id="todo-section"
     oncontextmenu="onContextMenuHandler(event);" ondrop="onDropHandler(event)"
     ondragover="onDragOverHandler(event);">
    <div class="h5 text-center my-3" id="todo-section-header">
        <i class="fa-solid fa-list mx-2"
           style="color: #4295f5"></i>Todo
    </div>
    <div class="container border-top">
        <div class="w-100" style="height: 20px;" id="todo-section-droppable-div-topmost"
             ondragover="onDragOverHandler(event);" ondrop="onDropHandler(event);"></div>
        @{
            foreach (IWorkItem item in @Model!)
            {
                @await Html.PartialAsync("_WorkItem.cshtml", item)
            }
        }
    </div>
</div>
