@model TaskFlow.Models.WorkItemsDTO;
@using TaskFlow.Interfaces;

@await Html.PartialAsync("_NewItemModal.cshtml")
@await Html.PartialAsync("_ContextMenu.cshtml")
@await Html.PartialAsync("_DeleteModal.cshtml")

<div class="container">
    <div class="row">
        @await Html.PartialAsync("_Todos.cshtml", Model.Todos)
        @await Html.PartialAsync("_Doing.cshtml", Model.Doing)
        @await Html.PartialAsync("_Done.cshtml", Model.Done)
    </div>
</div>
