<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 border" style="min-height: 100vh;">
            <div class="h5 text-center my-3">Todo</div>
            <div class="container border-top"></div>
        </div>
        <div class="col-md-4 col-sm-12 border" style="min-height: 100vh;">
            <div class="h5 text-center my-3">Doing</div>
            <div class="container border-top"></div>
        </div>
        <div class="col-md-4 col-sm-12 border" style="min-height: 100vh;">
            <div class="h5 text-center my-3">Done</div>
            <div class="container border-top"></div>
        </div>
    </div>
</div>